section#output {
    display: flex;
    justify-content: space-around;
    align-content: start;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

section#output article {
    border: 2px solid white;
}

section#output > article {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: calc((100% / 8));
    height: calc((100% / 8));
    font-weight: bold;
}

section article > img {
    width: 100%;
}