*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: black;
    font-size: 2rem;
}

section#output {
    display: flex;
    justify-content: space-around;
    align-content: start;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

section#output article {
    width: calc((100% / 3));
    margin-right: 2rem;
    background-color: white;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

section article > img {
    width: 100%;
}